{{ partial "ldjson/event" (dict "ctx" . "id" .Params.id) }}

{{.Scratch.Set "body-class" "page-festival"}}
{{ partial "header" . }}

{{ partial "navbar_festival" . }}
{{ partial "masthead_festival" . }}
{{ partial "section_numbers" . }}
{{ partial "section_donate" . }}
{{ partial "section_schedule" . }}
<section class="page-section bg-people section-about" id="about">
{{ partial "section_about" . }}
{{ partial "section_goals" . }}
</section>
{{ partial "section_speakers" . }}
{{ partial "section_info" . }}
{{ partial "section_plan" . }}
{{ partial "section_links" . }}
{{ partial "footer" . }}

