{{ partial "ldjson/event" (dict "ctx" . "id" .Params.id) }}

{{.Scratch.Set "body-class" "page-festival-1"}}
{{ partial "header" . }}

{{ partial "navbar_festival" . }}
{{ partial "masthead_festival_1" . }}
{{ partial "section_numbers" . }}
{{ partial "section_donate" . }}
{{ partial "section_sponsors" . }}
{{ partial "section_schedule" . }}
<section class="page-section section-about" id="about">
{{ partial "section_about" . }}
{{ partial "section_goals" . }}
</section>
{{ partial "section_speakers" . }}
{{ partial "section_info_1" . }}
{{ partial "section_plan" . }}
{{ partial "section_links" . }}
{{ partial "footer" . }}
