{{ $image := index (.Resources.Match .Params.image) 0 }}
{{ $image := $image.Resize "1200x" }}

{{ partial "header" . }}

<div class="single">
    <div class="container h-100">
        <div class="row h-50 align-items-center justify-content-center ">
			<div class="col-12">
				<div class="block block-single-img">
					<img src="{{ $image.RelPermalink }}">
				</div><!-- block-single-img -->
			</div><!-- /.col -->
			<div class="col-lg-10 col-md-12">
				<div class="block block-single-content">
					<h3><i class="far fa-calendar-alt"></i>Date</h3>
					<h5>{{.Params.Event_date}}{{ if .Params.Event_end_date }} - {{.Params.Event_end_date}}{{ end }}</h5>
					{{.Content}}

					{{ if not .Params.special_event }}
						{{ partial "content_event" . }}
					{{ end }}

				</div><!-- /.block-single-content -->
			</div><!-- /.col -->
        </div><!-- /.row -->
        {{ partial "links" . }}
    </div><!-- /.container -->
</div>



{{ partial "footer" . }}