{{ partial "header" . }}


<div class="single">
    <div class="container h-100">
        <div class="row h-50 align-items-center justify-content-center ">
			<div class="col-12">
				<div class="block block-single-img">
					<img src="{{.RelPermalink}}/{{.Params.image}}">
				</div><!-- block-single-img -->
			</div><!-- /.col -->
			<div class="col-lg-10 col-md-12">
				<div class="block block-single-content">
					<h3><i class="far fa-calendar-alt"></i>Date</h3>
					<h5>{{.Params.Event_date}}</h5>
					{{.Content}}
					{{ partial "content_event" . }}
				</div><!-- /.block-single-content -->
			</div><!-- /.col -->
        </div><!-- /.row -->
        {{ partial "links" . }}
    </div><!-- /.container -->
</div>



{{ partial "footer" . }}