{{ define "main" }}

{{.Scratch.Set "body-class" "bg-light"}}

{{ $image := index (.Resources.Match .Params.image) 0 }}
{{ $image := $image.Resize "1200x" }}

<div class="single bg-light">
    <div class="container">
        <div class="row">
			<div class="col-md-8">
				<div class="block">
					<div class="block-single-img">
						<img src="{{ $image.RelPermalink }}">
					</div><!-- block-single-img -->
					<div class="block-single-content">
				
						{{.Content}}

						{{ if not .Params.special_event }}
							{{ partial "content_event" . }}
						{{ end }}

					</div><!-- /.block-single-content -->
				</div><!-- /.block -->
			</div><!-- /.col -->
			<div class="col-md-4">
				<div class="block">
					<h3><i class="far fa-calendar-alt"></i>Date</h3>
					<h5>{{.Params.Event_date}}{{ if .Params.Event_end_date }} - {{.Params.Event_end_date}}{{ end }}</h5>
				</div><!-- /.block -->
			</div><!-- /.col -->

        </div><!-- /.row -->
        {{ partial "links" . }}
    </div><!-- /.container -->
</div><!-- /.single -->

{{ end }}