<!-- START: get event status -->
{{ $.Scratch.Set "upcoming_events" slice }}
{{ $.Scratch.Set "past_events" slice }}

{{ $now := now.Unix }}
{{ $next_event := "" }}
{{ $events := sort (where .Site.RegularPages "Section" "event") "Params.event_date" }}

{{ range $events }}
  {{ $status := "" }}
  {{ $event_date := (time .Params.event_date).Unix }}

  <!-- if the event date is after today midnight UTC, its in the future -->
  {{ if (ge $event_date $now) }}

    {{ $.Scratch.Add "upcoming_events" . }}

    <!-- if next event is empty, then this is the first current/upcoming event -->
    {{ if not $next_event }}
      {{ $next_event = . }}
      {{ $status = "next" }}

    {{ else }}
      {{ $status = "upcoming" }}
    {{ end }}
  
  {{ else }}
    {{ $status = "past" }}
    {{ $.Scratch.Add "past_events" . }}
  {{ end }}

  {{ $.Scratch.SetInMap "event_status" .UniqueID $status }}
{{ end }}
<!-- END: get event status -->

<!-- Order past event to LATEST first -->
{{ $.Scratch.Set "past_events" (sort ($.Scratch.Get "past_events") "Params.event_date" "desc") }}

{{ partial "header" . }}
  {{ block "main" . }}{{ end }} 
{{ partial "footer" .}}
