<!-- START: get event status -->
{{ $.Scratch.Set "upcoming_events" slice }}
{{ $.Scratch.Set "past_events" slice }}

{{ $now := now.Unix }}
{{ $next_event := "" }}
{{ $events := sort (where .Site.RegularPages "Section" "event") "Params.start_date" }}

{{ range $events }}
  {{ $status := "" }}
  {{ $event_end_date := add (time (.Params.event_end_date | default .Params.start_date)).Unix 86400 }}
  
  <!-- if the event end date + 1 day midnight, is after today midnight UTC, its in the future -->
  {{ if (ge $event_end_date $now) }}

    {{ $.Scratch.Add "upcoming_events" . }}

    <!-- if next event is empty, then this is the first current/upcoming event -->
    {{ if not $next_event }}
      {{ $next_event = . }}
      {{ $status = "next" }}

    {{ else }}
      {{ $status = "upcoming" }}
    {{ end }}
  
  {{ else }}
    {{ $status = "past" }}
    {{ $.Scratch.Add "past_events" . }}
  {{ end }}

  {{ $.Scratch.SetInMap "event_status" .File.UniqueID $status }}
{{ end }}
<!-- END: get event status -->

<!-- Order past event to LATEST first -->
{{ $.Scratch.Set "past_events" (sort ($.Scratch.Get "past_events") "Params.start_date" "desc") }}

{{ partial "header" . }}
{{ partial "navbar" . }}
  {{ block "main" . }}{{ end }} 
{{ partial "footer" .}}
