{{ $s := newScratch }}

{{ $events := sort (where .Site.RegularPages "Section" "event") "Params.event_date" }}

{{ $now := now.Unix }}
{{ $next_event := "" }}
{{ range $events }}
    {{ $status := "" }}

    {{ $event_date := time .Params.event_date }}
    {{ $today := $event_date.Unix }}
    {{ $tomorrow := ($event_date.AddDate 0 0 1).Unix }}
    
    {{ if (ge $today $now) }}
        <!-- if next event is empty, then this is the first current/upcoming event -->
        {{ if not $next_event }}
            {{ $next_event = . }}
            {{ $status = "next-on" }}
        {{ else }}
            {{ $status = "future" }}
        {{ end }}
    {{ else }}
        {{ $status = "past" }}
    {{ end }}

    {{ $s.SetInMap "event_status" .UniqueID $status }}
{{ end }}

{{ partial "header" . }}

<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">

            <div class="col-lg-10 align-self-end">
                <!--<img class="logo-center" src="/img/paris_p2p.svg">-->
                <div id="lottie" class="logo-center"></div>
                <h1 class="text-uppercase text-white font-weight-bold">{{ .Params.content.intro_text | markdownify }}</h1>
                <!--<hr class="divider my-4">-->
            </div>
            <div class="col-lg-8 align-self-baseline">
                <!--<p class="text-white-75 font-weight-light mb-5">Join us on frequent meetups</p>-->
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://www.meetup.com/France-P2P/">{{ .Params.content.intro_button | markdownify }}</a>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-users fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.content.about_title | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
                <p class="text-white mb-4">{{ .Params.content.about_body | markdownify }}</p>
            </div>
        </div>
    </div>
</section>

<!-- Events Section -->
<section class="page-section" id="events">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-calendar-alt fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.content.events_title | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
            </div>
        </div>
        <div class="row">
            {{ range sort $events "Params.event_date" }}
                {{ $status := index ($s.Get "event_status") .UniqueID }}
                {{ if or (eq $status "future") (eq $status "next-on") }}
                <div class="col-lg-4 col-md-6">
                    {{ partial "block_event" (dict "ctx" . "status" $status) }}
                </div><!-- /.col -->
                {{ end }}
            {{ end }}
        </div><!-- /.row -->
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-calendar-alt fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.content.past_events_title | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
            </div>
        </div>
        <div class="row">
            {{ range sort $events "Params.event_date" }}
                {{ $status := index ($s.Get "event_status") .UniqueID }}
                {{ if eq $status "past" }}
                <div class="col-lg-4 col-md-6">
                    {{ partial "block_event" (dict "ctx" . "status" $status) }}
                </div><!-- /.col -->
                {{ end }}
            {{ end }}
        </div><!-- /.row -->
    </div>
</section>

<!-- Call for proposal Section -->
<section class="page-section bg-primary" id="call-for-proposal">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-presentation fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.content.caf_title | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
                <h5 class="text-white">{{ .Params.content.caf_subtitle | markdownify }}</h5>
                <p class="text-white mb-4">{{ .Params.content.caf_body | markdownify }}</p>
                <a class="btn btn-secondary btn-xl js-scroll-trigger" href="http://crpt.fyi/parisp2p-cfp">{{ .Params.content.caf_button | markdownify }}</a>
            </div>
        </div>
    </div>
</section>

<!-- Links Section -->
<section class="page-section" id="links">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-link fa-5x text-white mb-4"></i>
                <h2 class="text-white mt-0">{{ .Params.content.links_title | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
                <br />
            </div><!-- /.col -->
        </div><!-- /.row -->
        {{ partial "links" . }}
    </div><!-- /.container -->
</section>
{{ partial "footer" . }}
