{{ define "main" }}
{{ $statuses := $.Scratch.Get "event_status" }}

<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <div id="logo" class="logo-center">
                    <img src="/img/paris_p2p.svg">
                </div>
                <h1 class="text-uppercase text-white font-weight-bold">{{ .Params.content.intro_text | markdownify }}</h1>
            </div><!-- /.col -->
            <div class="col-lg-8 align-self-baseline">
                <a class="btn btn-primary btn-purple btn-xl js-scroll-trigger" href="https://www.meetup.com/France-P2P/events/">{{ i18n "festival_cta" | markdownify }}</a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</header>

<!-- Events Section -->
<section class="page-section bg-light" id="events">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-calendar-alt fa-5x mb-4"></i>
                <h2 class="mt-0">{{ .Params.content.events_title | markdownify }}</h2>
                <hr class="divider my-4">
                <br />
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row events-loadmore-list">
            {{ range $index, $item := $.Scratch.Get "upcoming_events" }}
            <div class="col-lg-4 col-md-6 event-item" {{ if gt $index 2 }}style="display:none;"{{ end }}>
                {{ partial "block_event" (dict "ctx" . "status" (index $statuses .File.UniqueID)) }}
            </div><!-- /.col -->
            {{ end }}

            <div class="col-md-12 mx-auto mb-5 text-center">
                <a id="loadmore" class="btn btn-secondary btn-xl" href="#">{{ i18n "loadmore_upcoming_events_btn" . | markdownify }}</a>
            </div>
        </div><!-- /.row -->
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <br/>
                <br/>
                <i class="fal fa-calendar-alt fa-5x mb-4"></i>
                <h2 class="mt-0">{{ .Params.content.past_events_title | markdownify }}</h2>
                <hr class="divider my-4">
                <br />
            </div>
        </div><!-- /.row -->
        <div class="row events-loadmore-list">
            {{ range $index, $item := $.Scratch.Get "past_events" }}
            <div class="col-lg-4 col-md-6 event-item" {{ if gt $index 2 }}style="display:none;"{{ end }}>
                {{ partial "block_event" (dict "ctx" . "status" (index $statuses .File.UniqueID)) }}
            </div><!-- /.col -->
            {{ end }}

            <div class="col-md-12 mx-auto mb-5 text-center">
                <a id="loadmore" class="btn btn-secondary btn-xl" href="#">{{ i18n "loadmore_past_events_btn" . | markdownify }}</a>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-users fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.content.about_title | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
                <p class="text-white mb-4">{{ .Params.content.about_body | markdownify }}</p>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Values Section -->
<section class="page-section bg-secondary" id="values">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-heart fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.content.values_title | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6 text-center">
                <div class="block-secondary" href="">
                    <i class="fal fa-hand-peace fa-4x mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.value_1| markdownify }}</h3>
                </div><!-- /.block-secondary -->
            </div><!-- /.col -->
            <div class="col-lg-3 col-6 text-center">
                <div class="block-secondary" href="">
                    <i class="fal fa-chart-network fa-4x mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.value_2 | markdownify }}</h3>
                </div><!-- /.block-secondary -->
            </div><!-- /.col -->
            <div class="col-lg-3 col-6 text-center">
                <div class="block-secondary" href="">
                    <i class="fal fa-smile fa-4x mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.value_3 | markdownify }}</h3>
                </div><!-- /.block-secondary -->
            </div><!-- /.col -->
            <div class="col-lg-3 col-6 text-center">
                <div class="block-secondary" href="">
                    <i class="fal fa-monkey fa-4x mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.value_4 | markdownify }}</h3>
                </div><!-- /.block-secondary -->
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <br />
                <br />
                <a class="btn btn-primary btn-xl" href="values">{{ .Params.content.values_button | markdownify }}</a>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>

<!-- Call for proposal Section -->
<section class="page-section bg-primary" id="call-for-proposal">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-presentation fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.content.caf_title | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
                <h5 class="text-white">{{ .Params.content.caf_subtitle | markdownify }}</h5>
                <p class="text-white mb-4">{{ .Params.content.caf_body | markdownify }}</p>
                <a class="btn btn-secondary btn-xl js-scroll-trigger" href="http://crpt.fyi/parisp2p-cfp">{{ .Params.content.caf_button | markdownify }}</a>
            </div><!-- /.col-->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{{ partial "section_links" . }}

{{ end }}
