{{.Scratch.Set "body-class" "page-404"}}
{{ partial "header" . }}

<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">

            <div class="col-lg-10 align-self-end">
                <h1 class="text-white text-xl">404</h1>
                <h1 class="text-uppercase text-white font-weight-bold">Page not found</h1>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <a class="btn btn-secondary btn-xl js-scroll-trigger" href="/#page-top">Go to homepage</a>
            </div>
        </div>
    </div>
</header>
{{ partial "footer" .}}
