<div class="block s-item {{ .Kind }}">
	<div class="s-item-left">
		<div class="s-item-line">
			<i class="far fa-clock"></i>
			<span>{{ .Time_start }}-{{ .Time_end }}</span>
		</div>
		<div class="s-item-line">
			<i class="far fa-map-marker"></i>
			<span>{{ .Location }}</span>
		</div>
		<div class="s-item-line">
			<i class="far fa-microphone-alt"></i>
			<span>{{ .People }}</span>
		</div>
	</div><!-- /.s-item-left -->
	<div class="s-item-right">
		<span class="s-item-title">
			{{ .Title }}
		</span>
		<span class="s-item-description">
			{{ .Description }}
		</span>
	</div><!-- /.s-item-right -->
	<span class="tag tag-{{ .Kind }}"><i class="far {{ .Kind_icon }}"></i>{{ .Kind_label }}</span>
</div><!-- /.s-item -->