{{ $at := index .ctx.Site.Data.gen (print "airtable_" .ctx.Lang) }}
{{ $page := $.ctx.GetPage (index $at .id).file_path }}

{{ if and $page.Params.place $page.Params.start_date }}
{{ $place := index $page.Params.place 0 }}

  "@context": "https://schema.org",
  "@type": "Event",
  "name": "{{ $page.Title }}",

  "location": {
    "@type": "Place",
    "name": "{{ $place.name }}",
    "address": {
      "@type": "PostalAddress",
      {{ with $place.city }}
      "addressLocality": "{{ . }}",
      {{ end }}
      {{ with $place.region }}
      "addressRegion": "{{ . }}",
      {{ end }}
      {{ with $place.postal_code }}
      "postalCode": "{{ . }}",
      {{ end }}
      "streetAddress": "{{ $place.address }}"
    }
  },

  {{ with $page.Params.start_date }}
  "startDate": "{{ replace . "T00:00:00.000Z" "" }}",
  {{ end }}

  {{ with $page.Params.end_date | default $page.Params.start_date }}
  "endDate": "{{ replace . "T00:00:00.000Z" "" }}",
  {{ end }}

  {{ with $page.Params.language }}
  "inLanguage": "{{ . }}",
  {{ end }}

  "image": [
    {{ range $index, $el := $page.Params.picture }}
    {{ if ne $index 0 }},{{ end }}
    "{{ (resources.Get $el.local).Permalink }}"
    {{ end }}
    ],
  "description": "{{ $page.Description }}",
  "performer": [
    {{ range $index, $el := $page.Params.speakers }}
    {{ if ne $index 0 }},{{ end }}
    {
      {{ partial "ldjson/person-inner" (dict "ctx" $.ctx "id" .id) }}
    }
    {{ end }}
  ]

{{ end }}