{{ $logo := (resources.Get .Site.Params.logo) }}
{{ $same_as := slice }}
{{ with .Site.Params.twitter }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with .Site.Params.meetup }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with .Site.Params.github }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with .Site.Params.discord }}{{ $same_as = $same_as | append . }}{{ end }}

"@context": "https://schema.org",
"@type": "Organization",
"url": "{{ .Site.BaseURL }}",
"email": "{{ .Site.Params.email }}",
"sameAs": {{ $same_as | jsonify }},
"@id": "{{ .Site.BaseURL }}#organization",
"name": "{{ .Site.Params.organization_name }}",
"logo":{
  "@type": "ImageObject",
  "@context": "http://schema.org",
  "url": "{{ $logo.Permalink }}",
  "width": "{{ $logo.Width }}",
  "height": "{{ $logo.Height }}"
}