{{ $at := index .ctx.Site.Data.gen (print "airtable_" .ctx.Lang) }}
{{ $page := $.ctx.GetPage (index $at .id).file_path }}

{{ $image := "" }}
{{ with $page.Params.picture }}
{{ $image = (index . 0) }}
{{ end }}

{{ $same_as := slice }}
{{ with $page.Params.twitter }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.github }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.gitlab }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.telegram }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.linkedin }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.mastodon }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.facebook }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.instagram }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.website }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.medium }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with $page.Params.mastodon }}{{ $same_as = $same_as | append . }}{{ end }}

"@context": "https://schema.org",
"@type": "Person",

{{ with $page.Description }}
"description": "{{ . }}",
{{ end }}

{{ with $image }}
"image": "{{ (resources.Get .local).Permalink }}",
{{ end }}

{{ with $page.Params.organization }}
"memberOf": [
  {{ range $index, $el := . }}
  {{ if ne $index 0 }},{{ end }}
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ .name }}"
  }
  {{ end }}
],
{{ end }}

"sameAs": {{ $same_as | jsonify }},
"name": "{{ $page.Title }}"
