{{ $logo := resources.Get .Site.Params.logo }}

{{ $same_as := slice }}
{{ with .Site.Params.twitter }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with .Site.Params.meetup }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with .Site.Params.github }}{{ $same_as = $same_as | append . }}{{ end }}
{{ with .Site.Params.discord }}{{ $same_as = $same_as | append . }}{{ end }}

"@type": "Website",
"@context": "http://schema.org",
"name": "{{ .Site.Title }}",
"description": "{{ .Site.Params.default_description }}",
"url": "{{ .Site.BaseURL }}",
"image": {
  "@type": "ImageObject",
  "@context": "http://schema.org",
  "url": "{{ $logo.Permalink }}",
  "width": "{{ $logo.Width }}",
  "height": "{{ $logo.Height }}"
},
"sameAs": {{ $same_as | jsonify }}
