{{ define "main" }}

{{.Scratch.Set "body-class" "bg-light"}}
<div class="single bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <h1>{{.Title}}</h1>
        <h4 class="mb-4" style="color: grey; font-size: 20px;">Total number of speakers: {{ len .RegularPages }}</h4>
      </div>
    </div><!-- /.row -->
    <div class="row">
      {{ range sort .RegularPages ".Params.name" }}
        <div class="col-lg-3 col-md-4 col-6">
          {{ partial "block_speaker" .Params }}
        </div>
      {{ end }}
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
{{ end }}
