{{ define "main" }}

{{.Scratch.Set "body-class" "bg-light"}}
<section class="single bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 mt-5 mb-5 text-center">
        <i class="fal fa-microphone-alt fa-5x mb-4"></i>
        <h1 class="mt-0">{{.Title}}<notif>{{ len .RegularPages }}</notif></h1>
        <hr class="divider my-4">
      </div>
    </div><!-- /.row -->
    <div class="row">
      {{ range sort .RegularPages ".Params.name" }}
        <div class="col-lg-3 col-md-4 col-6">
          {{ partial "block_speaker" . }}
        </div>
      {{ end }}
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

{{ partial "section_links" . }}

{{ end }}
