{{ define "main" }}

{{.Scratch.Set "body-class" "bg-light"}}

<div class="single bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <a class="btn btn-secondary btn-m icon-left" href="{{ .Parent.RelPermalink }}"><i class="far fa-arrow-left"></i>{{ i18n "show_all" . }} {{ i18n "speakers" . }}</a>
      </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-12">
          {{ partial "block_speaker" .Params }}
      </div><!-- /.col -->
    </div><!-- /.row -->

   {{ if .Params.talks }}
    <section class="page-section">
      <div class="row justify-content-center">
        <div class="col-md-12 mt-0 mb-5 text-center">
          <i class="fal fa-presentation fa-5x mb-4"></i>
          <h1 class="mt-0">Talks<notif>{{ with .Params.talks }}{{ len . }}{{ end }}</notif></h1>
          <hr class="divider my-4">
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row ">
        {{ range .Params.talks }}
          {{ $talk := $.GetPage .file_path }} 
          {{ if $talk }}
           {{ partial "block_talk" $talk }} 
          {{ end }}
        {{ end }}
      </div><!-- /.row -->
    </section>
  {{ end }}

  </div><!-- /.container -->

</div><!-- /.single -->

{{ partial "section_links" . }}

{{ end }}