{{ define "main" }}
<section style="height: 100%; background: #fff; padding-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <a href="{{ .Parent.RelPermalink }}">< Show all speakers</a>
      </div>
      <div class="col-md-12">
        <h5 style="color: grey;">{{ .Params.from_table | title }}</h5>
        <h1>{{ .Title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-5 pd-5">
        <h5>Number of talks: {{ .Params.__talks }}</h5>
      </div>

      <div class="col-md-12">
        <h5>Talks</h5>
      </div>

      {{ range .Params.talk }}
        {{ $talk := $.GetPage .file_path }}  
        <div class="col-md-12">
          <a href="{{ $talk.RelPermalink }}">
            <h3>{{ $talk.Title }}</h3>
            <p>Language: {{ $talk.Params.language }}</p>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}