{{ define "main" }}
{{.Scratch.Set "body-class" "bg-light"}}

<section class="single bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 mt-5 mb-5 text-center">
        <i class="fal fa-presentation fa-5x mb-4"></i>
        <h1 class="mt-0">Talks<notif>{{ len .RegularPages }}</notif></h1>
        <hr class="divider my-4">
      </div><!-- /.col -->

      <div class="col-12">
      {{ range .RegularPages }}
      {{ partial "block_talk" (dict "ctx" . "talk" .) }}
      {{ end }}
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.single -->

{{ partial "section_links" . }}

{{ end }}