{{ define "main" }}

{{.Scratch.Set "body-class" "bg-light"}}

<div class="single bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <a class="btn btn-secondary btn-m icon-left" href="{{ .Parent.RelPermalink }}"><i class="far fa-arrow-left"></i>Show all talks</a>
      </div><!-- /.col -->


      <div class="col-md-12">
        <h5 style="color: grey;">{{ .Params.from_table | title }}</h5>
        <h1 class="mb-4">{{ .Title }}</h1 class="mb-4">
        <div class="mb-2">
          <div>From event: <strong>{{ (index .Params.event 0).name }}</strong></div>
          <div>Date: 
            <strong>
              {{ if .Params.tba_time }}
              TBA - TBA
              {{ else }}
              {{ with .Params.start_date }}{{ dateFormat "02 January 2006 15:04PM" . }}{{ else }}TBA{{ end }} - 
              {{ with .Params.end_date }}{{ dateFormat "02 January 2006 15:04PM" . }}{{ else }}TBA{{ end }}
              {{ end }}
            </strong>
          </div>
          {{ with .Params.language }}<div>Languages: <strong>{{ delimit . "/" }}</strong></div>{{ end }}
          <div>Kind: <strong>{{ with .Params.kind }}{{ (index . 0).name }}{{ end }}</strong></div>
        </div>
        <p>{{ .Description | safeHTML }}</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

  <section class="page-section">
    <div class="row justify-content-center">
      <div class="col-md-12 mt-0 mb-5 text-center">
        <i class="fal fa-microphone-alt fa-5x mb-4"></i>
        <h1 class="mt-0">Speakers<notif></h1>
        <hr class="divider my-4">
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row justify-content-center">
      {{ range .Params.speaker_ }}
      {{ $speaker := $.GetPage .file_path }}  
      <div class="col-lg-3 col-md-4 col-6">
          {{ partial "block_speaker" $speaker.Params }}
      </div><!-- /.col -->
    {{ end }}
    </div><!-- /.row -->
  </section>

  </div><!-- /.container -->
</div><!-- /.single -->

{{ partial "section_links" . }}

{{ end }}
