<a class="block block-event" href="{{.RelPermalink}}">
	<div class="block-img">
    	<img src="{{.RelPermalink}}/{{.Params.image}}">
	</div><!-- /.block-img -->
	<div class="block-content">
		<h4 class="event-title">{{.Title}}</h4>
		<p>{{.Params.Subtitle}}</p>
		<span class="event-info event-date"><i class="far fa-calendar-alt"></i>{{.Params.Event_date}}</span>
		<span class="event-info event-location"><i class="far fa-map-marker"></i>{{.Params.Location}}</span>
	</div><!-- /.block-content -->
</a><!-- /.block-event -->