{{ $image := index (.ctx.Resources.Match .ctx.Params.image) 0 }}
{{ $image := $image.Resize "350x" }}

<a class="block block-event {{.status}}-event" href="{{.ctx.RelPermalink}}">
	<div class="block-img">
    	<img src="{{ $image.RelPermalink }}">
	</div><!-- /.block-img -->
	<div class="block-content">
		<h4 class="event-title">{{.ctx.Title}}</h4>
		<p class="event-subtitle">{{.ctx.Params.Subtitle}}</p>
		<span class="event-info event-location"><i class="far fa-map-marker"></i>{{.ctx.Params.Location}}</span>
		<span class="event-info event-date"><i class="far fa-calendar-alt"></i>{{ dateFormat "January 2, 2006" .ctx.Params.event_date }}</span>
		<span class="tag tag-{{.status}}">{{.status}}</span>
    	<!--
    	<span class="tag tag-past">past</span>
    	<span class="tag tag-next">next</span>
    	<span class="tag tag-upcoming">upcoming</span>
    	-->
	</div><!-- /.block-content -->
</a><!-- /.block-event -->
