<div class="block block-speaker">
    <a class="speaker-picture" href="{{ .RelPermalink }}">
        <div class="speaker-picture-hover">
            <div class="speaker-picture-inner">
                <i class="far fa-plus"></i>
            </div>
        </div>
        {{ if .Params.picture }}
            {{ $img := index .Params.picture 0 }}
            <img src="{{ ((resources.Get $img.local).Resize `90x jpg`).RelPermalink }}">
        {{ else }}
          <i class="fal fa-user-circle c-gradient"></i>
        {{ end }}
    </a>
    <div class="speaker-content">
        <h5>{{ .Params.name }}</h5>
        <p>{{ .Params.headline }}</p>
    </div>
    <div class="speaker-links">
        {{ with .Params.twitter }}
        <a target="_blank" rel="noopener" href="{{ cond (hasPrefix . `http`) . (print `https://` .) }}"><i class="fab fa-twitter c-twitter"></i></a>
        {{ end }}
        {{ with .Params.github }}
        <a  target="_blank" rel="noopener" href="{{ cond (hasPrefix . `http`) . (print `https://` .) }}"><i class="fab fa-github c-github"></i></a>
        {{ end }}
        {{ with .Params.gitlab }}
        <a  target="_blank" rel="noopener" href="{{ cond (hasPrefix . `http`) . (print `https://` .) }}"><i class="fab fa-gitlab c-gitlab"></i></a>
        {{ end }}
        {{ with .Params.telegram }}
        <button type="button" data-toggle="tooltip" data-placement="top" title="{{ . }}"><i class="fab fa-telegram-plane c-telegram"></i></button>
        {{ end }}
        {{ with .Params.linkedin }}
        <a  target="_blank" rel="noopener" href="{{ cond (hasPrefix . `http`) . (print `https://` .) }}"><i class="fab fa-linkedin c-linkedin"></i></a>
        {{ end }}
        {{ with .Params.mastodon }}
        <button type="button" data-toggle="tooltip" data-placement="top" title="{{ . }}"><i class="fab fa-mastodon c-mastodon"></i></button>
        {{ end }}
        {{ with .Params.facebook }}
        <a  target="_blank" rel="noopener" href="{{ cond (hasPrefix . `http`) . (print `https://` .) }}"><i class="fab fa-facebook-square c-facebook"></i></a>
        {{ end }}
        {{ with .Params.instagram }}
        <a  target="_blank" rel="noopener" href="{{ cond (hasPrefix . `http`) . (print `https://` .) }}"><i class="fab fa-instagram c-github"></i></a>
        {{ end }}
        {{ with .Params.website }}
        <a  target="_blank" rel="noopener" href="{{ cond (hasPrefix . `http`) . (print `https://` .) }}"><i class="fal fa-globe c-pink"></i></a>
        {{ end }}
    </div>
</div><!-- /.block -->
