<div class="block block-sponsor-s text-center">
		
        {{ if .stay_anonymous }}
        	<span class="title anon">Anonymous</span>
        {{ else }}
            {{ if .logo }}
                {{ $img := index .logo 0 }}
                <img src="{{ (resources.Get $img.local).RelPermalink }}">
            {{ else }}
                <span class="title">{{ .title }}</span>
            {{ end }}
            {{ if .link }}
                <a href="{{ .link }}" target="_blank" rel="noopener">{{ .link }}</a>
            {{ end }}
        {{ end }}
    	
</div><!-- /.block -->