{{ $at := index .Site.Data.gen (print "airtable_" .Lang) }}
{{ $tags := slice }}

{{ range .Params.tags }}
	{{ $tags = $tags | append (index $at .) }}
{{ end }}

<div class="block block-talk s-item {{ with .Params.kind }}{{ (index . 0).name }}{{ end }}">
	<div class="s-item-top">
		<div class="s-item-line-top">
			<div class="s-item-line s-date mr">
				<i class="far fa-calendar-alt"></i>
				<span>
					{{ if or (eq .Params.start_date "TBA") (eq .Params.start_date nil) }}
						TBA
						{{ else }}
						{{ dateFormat (cond (eq .Lang "en") "02 January 2006" "2 Janvier 2006") .Params.start_date }}
					{{ end }}
				</span>
			</div>
			<div class="s-item-line s-time mr">
				<i class="far fa-clock"></i>
				<span>
					{{ if .Params.tba_time }}
					TBA - TBA 
					{{ else }}
						{{ if or (eq .Params.start_date "TBA") (eq .Params.start_date nil) }}
						TBA
						{{ else }}
						{{ dateFormat (cond (eq .Lang "en") "02 January 2006 3:04PM" "2 Janvier 2006 15h04") .Params.start_date }}
						{{ end }}
						-
						{{ if or (eq .Params.end_date "TBA") (eq .Params.end_date nil) }}
						TBA
						{{ else }}
						{{ dateFormat (cond (eq .Lang "en") "3:04PM" "15h04") .Params.end_date }}
						{{ end }}
					{{ end }}
				</span>
			</div>
			{{if .Params.language}}
			<div class="s-item-line s-lang mr">
				<i class="far fa-globe"></i>
				<span>{{ delimit .Params.language "/" }}</span>
			</div>
			{{end}}
		</div>
		<div class="s-item-line s-loc mr">
			<i class="far fa-map-marker"></i>
			<span>{{ .Params.location }}</span>
		</div>
		<div class="s-item-line s-orga">
			<i class="far fa-user"></i>
			<span>{{ .Params.redacted_speakers }}</span>
		</div>
	</div><!-- /.s-item-top -->
	<div class="s-item-bottom">
		<span class="s-item-title">
			{{ .Params.title }}
		</span>
		{{ if .Params.picture }}
      {{$img := index .Params.picture 0 }}
  		<img class="img-schedule" src="{{ ((resources.Get $img.local).Resize `250x jpg`).RelPermalink }}">
		{{ end }}
		<div class="s-item-description">
			{{ .Params.description | markdownify }}
		</div>
		{{ if gt (len $tags) 0 }}
		<div class="s-item-tags">
			{{ range $tags }}
			{{ .custom_html | safeHTML }}
			{{ end }}
		</div>
		{{ end }}

		 {{ $event := index .Params.event 0 }}
	 <span>From event: <strong>{{ $event.title }}</strong></span>
	 <a href="{{ .RelPermalink }}">link</a>

	</div><!-- /.s-item-bottom -->
	<span class="tag tag-{{ with .Params.kind }}{{ (index . 0).name }}{{ end }}"><i class="far {{ .Params.k_icon }}"></i>{{ .Params.k_label }}</span>
</div><!-- /.s-item -->
