<div class="block block-speaker">
    <div class="speaker-picture">
<!-- if picture -->
        <img src="https://pbs.twimg.com/profile_images/999637482420383744/PwcltvCI_400x400.jpg">
<!-- else -->
       <!--<i class="fal fa-user-circle c-gradient"></i>-->
<!-- end -->
    </div>
    <div class="speaker-content">
        <h5>Manfred Touron</h5>
        <p>Berty</p>
    </div>
    <div class="speaker-links">
        <a href="https://twitter.com/moul"><i class="fab fa-twitter text-primary"></i></a>
        <a href="github.com/moul"><i class="fab fa-github c-github"></i></a>
        <a href="#"><i class="fab fa-linkedin c-linkedin"></i></a>
        <a href="#"><i class="fab fa-mastodon c-mastodon"></i></a>
    </div>
</div><!-- /.block -->