<h3><i class="far fa-info-circle"></i>Détails</h3>
<p>Paris P2P est un rendez-vous mensuel organisé par et pour la communauté des passionné.e.s de P2P et de cryptographie.</p>
<p>Ces rendez-vous prennent la forme d’afterwork informels, gratuits, destinés à favoriser la rencontre et les échanges entre développeurs/développeuses, passionné.e.s et curieux/curieuses, autour d’un verre ou de discussions ouvertes.</p>
<p>Nous organisons des rencontres pour discuter autour des thèmes du 'peer to peer' (P2P), de la décentralisation, des réseaux et communautés autonomes, des systèmes distribués et décentralisés, des applications offline-first, de réseaux, de la confidentialité, de l'anti-surveillance, de l'anti-censure, de la sécurité, de la cryptographie, des blockchains.</p>
<p>P2P Paris est avant tout une occasion d'échanger et de confronter ses idées à Paris.</p>
<p>Chaque participant.e.s peut proposer des thématiques de discussions, et présenter ses projets à la communauté. Paris P2P est une organisation non-lucrative, décentralisée et ouverte.</p>

<h5>Deux types d'événements :</h5>
<p>
	<strong>Les Paris P2P mensuels</strong> : tous les premiers mercredi du mois.
	<br/>
	<strong>Les Paris P2P "Hors série"</strong>
</p>

<h3><i class="far fa-clock"></i>Programme</h3>
<p>
	<strong>18h30-19h</strong> : Ouverture des portes
	<br/>
	<strong>19h-19h30</strong> : Talks (parfois il n'y en aura pas)
	<br/>
	<strong>19h30-20h</strong> : P2P - Person-to-person (10 minutes, 5 rencontres)
	<br/>
	<strong>20h-23h</strong> : FFA (discutez avec qui vous voulez, faites des ateliers si ca vous chante, appréciez simplement le moment et la boisson, ...)
</p>

<h3><i class="far fa-map-marker"></i>Le lieu</h3>
<p>
	Ces rencontres se déroulent à <strong>Ground Control</strong>, à deux pas de Gare de Lyon, Paris.
	<br/>
	Espaces conviviaux, Bar (vin, bières) & snacks sont disponibles sur place.
	<br/>
	<br/>
	<strong>Ground Control
	<br/>
	Gare de Lyon – 81 rue du Charolais – 75012 Paris</strong>
</p>

<h3><i class="far fa-clipboard-check"></i>Pour vous inscrire :</h3>
<p>Inscrivez-vous directement sur l'évènement <a href="{{ .Params.Meetup_link }}">Meetup</a></p>
<p>Il n'est pas obligatoire d'être inscrit.e sur <a href="https://www.meetup.com/France-P2P/">meetup.com</a> pour se joindre à l'événement. Vous êtes également libre de venir accompagné.e.</p>

<h3><i class="far fa-presentation"></i>Proposer un talk</h3>
<p>
	Vous avez un sujet à présenter ?
</p>
<p>
	Veuillez compléter ce <a href="http://crpt.fyi/parisp2p-cfp">formulaire</a> afin de nous en dire plus sur votre idée.
</p>
