
        <div class="block s-item stand">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h-22h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>P2P Art Zone</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Fasto</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              P2P Painting
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-stand"><i class="far fa-users"></i>Stand</span>
        </div><!-- /.s-item -->

        <div class="block s-item meetup">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>P2P Meetup Zone</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@zôÖma @moul </span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Talks + FFA
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-meetup"><i class="far fa-glass-cheers"></i>Meet-up</span>
        </div><!-- /.s-item -->

        <div class="block s-item stand">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>20h-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Fasto</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Atelier d'initiation aux cryptomonnaies 
            </span>
            <span class="s-item-description">
              Réservé aux femmes
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-stand"><i class="far fa-users"></i>Stand</span>
        </div><!-- /.s-item -->


        <div class="block s-item talk">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>20h-21h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Espace conférence</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Présentation du Berty Protocol 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-talk"><i class="far fa-presentation"></i>Talk</span>
        </div><!-- /.s-item -->


        <div class="block s-item meetup">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Grande Halle zone village</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Public Commons Day
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-meetup"><i class="far fa-glass-cheers"></i>Meet-up</span>
        </div><!-- /.s-item -->

        <div class="block s-item projection">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Lorem ipsum dolor sit amet 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-projection"><i class="far fa-camera-movie"></i>Projection</span>
        </div><!-- /.s-item -->

        <div class="block s-item party">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              DJ Set Hiphop/Soul/Funk
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-party"><i class="far fa-music"></i>DJ-Set</span>
        </div><!-- /.s-item -->

        <div class="block s-item hackathon">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Le décanteur</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Hackathon
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-hackathon"><i class="far fa-robot"></i>Hackathon</span>
        </div><!-- /.s-item -->

        <div class="block s-item workshop">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Hackzone Workshop</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>Alice & Marguerite</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Atelier prospective sur les spécifications SOLID
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-workshop"><i class="far fa-laptop-code"></i>Workshop</span>
        </div><!-- /.s-item -->