				<div class="block block-single">
					<h3><i class="far fa-calendar-alt"></i>Date</h3>
					<strong>{{.Params.Event_date}}{{ if .Params.Event_end_date }} - {{.Params.Event_end_date}}{{ end }}</strong>
				</div><!-- /.block -->

				<div class="block block-single">
					<h3><i class="far fa-clock"></i>{{ i18n "schedule" . | markdownify }}</h3>
					<p>
						{{ i18n "schedule_a" . | markdownify }}
						<br/>
						{{ i18n "schedule_b" . | markdownify }}
						<br/>
						{{ i18n "schedule_c" . | markdownify }}
						<br/>
						{{ i18n "schedule_d" . | markdownify }}
					</p>
				</div><!-- /.block -->

				<div class="block block-single">
					<h3><i class="far fa-map-marker"></i>{{ i18n "location" . | markdownify }}</h3>
					<p>
						{{ i18n "location_text" . | markdownify }}
						<br/>
						<br/>
						<strong>Ground Control
						<br/>
						Gare de Lyon – 81 rue du Charolais – 75012 Paris</strong>
					</p>
				</div><!-- /.block -->

				<div class="block block-single">
					<h3><i class="far fa-clipboard-check"></i>{{ i18n "subscribe" . | markdownify }}</h3>
					<p>{{ i18n "subscribe_text" . | markdownify }}</p>
				</div><!-- /.block -->

				<div class="block block-single">
					<h3><i class="far fa-presentation"></i>{{ i18n "talk" . | markdownify }}</h3>
					<p>
						{{ i18n "talk_a" . | markdownify }}
					</p>
					<p>
						{{ i18n "talk_b" . | markdownify }}
					</p>
				</div><!-- /.block -->
