<h3><i class="far fa-info-circle"></i>À propos</h3>
<p>Paris P2P est un rendez-vous mensuel organisé par et pour la communauté des passionné.e.s de P2P et de cryptographie.</p>
<p>Ces rendez-vous prennent la forme d’afterwork informels, gratuits, destinés à favoriser la rencontre et les échanges entre développeurs/développeuses, passionné.e.s et curieux/curieuses, autour d’un verre ou de discussions ouvertes.</p>
<p>Nous organisons des rencontres pour discuter autour des thèmes du 'peer to peer' (P2P), de la décentralisation, des réseaux et communautés autonomes, des systèmes distribués et décentralisés, des applications offline-first, de réseaux, de la confidentialité, de l'anti-surveillance, de l'anti-censure, de la sécurité, de la cryptographie, des blockchains.</p>
<p>P2P Paris est avant tout une occasion d'échanger et de confronter ses idées à Paris.</p>
<p>Chaque participant.e.s peut proposer des thématiques de discussions, et présenter ses projets à la communauté. Paris P2P est une organisation non-lucrative, décentralisée et ouverte.</p>

<h5>Deux types d'événements :</h5>
<p>
	<strong>Les Paris P2P mensuels</strong> : tous les premiers mercredi du mois.
	<br/>
	<strong>Les Paris P2P "Hors série"</strong>
</p>