  <!-- Footer -->
  <!--<footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - Paris P2P</div>
    </div>
  </footer>-->

  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery/jquery.min.js"></script>
  <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/js/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/creative.js"></script>
  {{if .IsHome}}
  <script src="/js/lottie.js"></script>
  <script src="{{ ((resources.Get `/js/main.js`) | resources.Minify | fingerprint).Permalink }}"></script>
  {{ end }}
</body>

</html>