<header class="masthead">
    <div class="container h-100">
        <div class="row  align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <div id="logo" class="logo-center">
                    <img style="max-width: 100%;" src="/img/paris_p2p_festival.svg">
                </div>
                <h1 class="text-uppercase text-white font-weight-bold">{{ .Params.content.intro_text }}</h1>
            </div><!-- /.col -->
            <div class="col-lg-10 align-self-baseline">
                <div id="clockdiv">
                  <div>
                    <span class="days"></span>
                    <div class="smalltext">{{ .Params.clock.Days }}</div>
                  </div>
                  <div>
                    <span class="hours"></span>
                    <div class="smalltext">{{ .Params.clock.Hours }}</div>
                  </div>
                  <div>
                    <span class="minutes"></span>
                    <div class="smalltext">{{ .Params.clock.Minutes }}</div>
                  </div>
                  <div>
                    <span class="seconds"></span>
                    <div class="smalltext">{{ .Params.clock.Seconds }}</div>
                  </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</header>