<header class="masthead">
    <div class="container">
        <div class="row  align-items-center justify-content-center text-center">
            <div class="col-lg-10">
                <div id="logo" class="logo-center">
                    <img src="/img/paris_p2p_white.svg">
                </div>
                <h1 class="text-uppercase text-white font-weight-bold">{{ i18n "festival_content_intro_text" | markdownify }}</h1>
            </div><!-- /.col -->
            <div class="col-lg-10" >
              <!-- <h2 id="it-soon" class="text-uppercase text-white font-weight-bold" style="display: none;">{{ i18n "festival_content_it_soon" }}<br/><br/></h2> -->
              <h2 id="it-current" class="text-uppercase text-white font-weight-bold" style="display: none;">{{ i18n "festival_content_it_current" }}<br/><br/></h2>
              <h2 id="it-finish" class="text-uppercase text-white font-weight-bold" style="display: none;">{{ i18n "festival_content_it_finish" | markdownify }}</h2>
            </div>
            <div class="col-lg-10">
                <div id="clockdiv" style="display: none;">
                  <div>
                    <span class="days"></span>
                    <div class="smalltext">{{ i18n "festival_clock_days" }}</div>
                  </div>
                  <div>
                    <span class="hours"></span>
                    <div class="smalltext">{{ i18n "festival_clock_hours" }}</div>
                  </div>
                  <div>
                    <span class="minutes"></span>
                    <div class="smalltext">{{ i18n "festival_clock_minutes" }}</div>
                  </div>
                  <div>
                    <span class="seconds"></span>
                    <div class="smalltext">{{ i18n "festival_clock_seconds" }}</div>
                  </div>
                </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <br />
                    <br />
                    <a class="btn btn-purple btn-xl" href="https://www.meetup.com/France-P2P/events">{{ i18n "get_tickets_button" }}</a>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</header>