<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light py-3" id="festivalNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ `/#page-top` | relLangURL }}">
            <img src="/img/paris_p2p_small.svg">
            Paris P<span class="small2">2</span>P
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#schedule">{{ .Params.nav.schedule }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">{{ .Params.nav.about }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#speakers">{{ .Params.nav.speakers }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#info">{{ .Params.nav.info | markdownify }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#plan">{{ .Params.nav.plan }}</a>
                </li>
            </ul>
        </div>
        <div class="dropdown language-switcher">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fal fa-globe"></i>{{ upper .Lang }}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {{ range .AllTranslations }}
                    {{ $isCurrent := (eq .Lang $.Lang) }}
                    <a class="dropdown-item" href="{{ .Permalink }}">{{ upper .Lang }}{{ if $isCurrent }}<i class="fal fa-check"></i>{{ end }}</a>
                    {{ end }}
                </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand navbar-light navbar-festival-mobile">
    <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#schedule">{{ .Params.nav.schedule }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">{{ .Params.nav.about }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#speakers">{{ .Params.nav.speakers }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#info">{{ .Params.nav.info | markdownify }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#plan">{{ .Params.nav.plan }}</a>
                </li>
            </ul>
    </div>
</nav>