<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3  {{if not .IsHome}}navbar-scrolled{{end}}" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{if .IsHome}}/#page-top{{else}}/{{ end }}">
            <img src="/img/paris_p2p_small.svg">
            Paris P<span class="small2">2</span>P
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="far fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ $isActive := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                {{ $isActive := or $isActive (in ($currentPage.Permalink | relLangURL) (.URL | relLangURL)) }}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger {{if $isActive }} active{{end}} {{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
            </ul>
            <div class="dropdown language-switcher">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fal fa-globe"></i>{{ upper .Lang }}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                {{ range .AllTranslations }}
                {{ $isCurrent := (eq .Lang $.Lang) }}
                <a class="dropdown-item" href="{{ .Permalink }}">{{ upper .Lang }}{{ if $isCurrent }}<i class="fal fa-check"></i>{{ end }}</a>
                {{ end }}
            </div>
            </div>
        </div>
    </div>
</nav>