{{ $related := slice }}
{{ $indexes := slice }}
{{ $statuses := $.Scratch.Get "event_status" }}
{{ $events := sort (where .Site.RegularPages "Section" "event") "Params.start_date" }}

{{ range $index, $el := $events }}
  {{ if eq $ $el }} 

    <!-- If current is first, show next 3 events -->
    {{ if eq $index 0 }}
    {{ $indexes = slice (add $index 1) (add $index 2) (add $index 3) }}

    <!-- If current is last, show previous 3 events -->
    {{ else if eq (len $events) (add $index 1) }}
    {{ $indexes = slice (sub $index 1) (sub $index 2) (sub $index 3) }}

    <!-- If current is second to last, show 2 previous & 1 next event -->
    {{ else if eq (len $events) (add $index 2) }}
    {{ $indexes = slice (sub $index 1) (sub $index 2) (add $index 1) }}
    
    <!-- Show 1 previous & 2 next events -->
    {{ else }}
    {{ $indexes = slice (sub $index 1) (add $index 1) (add $index 2) }}

    {{ end }}

  {{ end }}
{{ end }}

{{ range $indexes }}
{{ $related = $related | append (index $events .) }}
{{ end }}

{{ range sort $related "Params.start_date" }}
  <div class="col-lg-4 col-sm-6">
    {{ partial "block_event" (dict "ctx" . "status" (index $statuses .UniqueID)) }}
  </div><!-- /.col -->
{{ end }}