<div class="block s-item {{ .data.k }}">
	<div class="s-item-top">
		<div class="s-item-line-top">
			<div class="s-item-line s-time mr">
				<i class="far fa-clock"></i>
				<span>
					{{ if or (eq .data.t_start "TBA") (eq .data.t_start "") }}
					TBA
					{{ else }}
					{{ dateFormat (cond (eq .ctx.Lang "en") "3:04PM" "15h04") .data.t_start }}
					{{ end }}
					-
					{{ if or (eq .data.t_end "TBA") (eq .data.t_end "") }}
					TBA
					{{ else }}
					{{ dateFormat (cond (eq .ctx.Lang "en") "3:04PM" "15h04") .data.t_end }}
					{{ end }}
				</span>
			</div>
			{{if .data.language}}
			<div class="s-item-line s-lang mr">
				<i class="far fa-globe"></i>
				<span>{{ .data.language }}</span>
			</div>
			{{end}}
		</div>
		<div class="s-item-line s-loc mr">
			<i class="far fa-map-marker"></i>
			<span>{{ .data.location }}</span>
		</div>
		<div class="s-item-line s-orga">
			<i class="far fa-user"></i>
			<span>{{ .data.orga }}</span>
		</div>
	</div><!-- /.s-item-top -->
	<div class="s-item-bottom">
		<span class="s-item-title">
			{{ .data.title }}
		</span>
		{{ if .data.image }}
		<img class="img-schedule" src="/img/festival/{{.data.image}}">
		{{ end }}
		<p class="s-item-description">
			{{ .data.description }}
		</p>
		{{ if .data.tags }}
		<div class="s-item-tags">
			{{ .data.tags | markdownify }}
		</div>
		{{ end }}
	</div><!-- /.s-item-bottom -->
	<span class="tag tag-{{ .data.k }}"><i class="far {{ .data.k_icon }}"></i>{{ .data.k_label }}</span>
</div><!-- /.s-item -->