{{ $at := index .ctx.Site.Data.gen (print "airtable_" .ctx.Lang) }}
{{ $kind := "" }}
{{ $tags := slice }}
{{ $location := "" }}

{{ if .data.location }}
	{{ $location = index $at (index .data.location 0) }}
{{ end }}

{{ if .data.kind }}
	{{ $kind = index $at (index .data.kind 0) }}
{{ end }}

{{ range .data.tags }}
	{{ $tags = $tags | append (index $at .) }}
{{ end }}

{{ $talk_page := .ctx.GetPage .data.file_path }}

{{ $item_id := "" }}
{{ if .data.slug }}
{{ $item_id = .data.slug }}
{{else}}
{{ $item_id_tmp := .data.title | urlize }}
{{ $item_id = replace $item_id_tmp "/" "-" }}
{{end}}

<div class="block s-item s-item-light {{ $kind.name }} f-k-{{ $kind.name }} {{ if (eq $location.name "Conférence") }}f-l-conference{{ else if (eq $location.name "Airplane") }}f-l-avion{{ else }}f-l-{{ $location.name | urlize }}{{ end }}">
	<div class="s-item-top">
		<div class="s-item-line-top">
			<div class="s-item-line s-time mr">
				<i class="far fa-clock"></i>
				<span>
					{{ if .data.tba_time }}
					TBA - TBA 
					{{ else }}
						{{ if or (eq .data.start_date "TBA") (eq .data.start_date nil) }}
						TBA
						{{ else }}
						{{ dateFormat (cond (eq .ctx.Lang "en") "3:04PM" "15h04") .data.start_date }}
						{{ end }}
						-
						{{ if or (eq .data.end_date "TBA") (eq .data.end_date nil) }}
						TBA
						{{ else }}
						{{ dateFormat (cond (eq .ctx.Lang "en") "3:04PM" "15h04") .data.end_date }}
						{{ end }}
					{{ end }}
				</span>
			</div>
			{{if .data.language}}
			<div class="s-item-line s-lang mr">
				<i class="far fa-globe"></i>
				<span>{{ delimit .data.language "/" }}</span>
			</div>
			{{end}}
		</div>
		<div class="s-item-line s-loc mr">
			<i class="far fa-map-marker"></i>
			<span>{{ $location.name }}</span>
		</div>
		<div class="s-item-line s-orga">
			<i class="far fa-user"></i>
			<span>{{ .data.redacted_speakers }}</span>
		</div>
	</div><!-- /.s-item-top -->
	<div class="s-item-middle first">
		<a class="s-item-title" href="{{ $talk_page.RelPermalink }}">
			{{ .data.title }}
		</a>
		 <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#sic-{{$item_id}}" aria-expanded="false" aria-controls="sic-{{$item_id}}">
   			<i class="far fa-chevron-up"></i>
  		</button>
	</div><!-- /.s-item-middle -->
	<div class="s-item-collapse collapse" id="sic-{{$item_id}}">
		<div class="s-item-bottom">
		{{ if .data.picture }}
      	{{$img := index .data.picture 0 }}
  		<img class="img-schedule picture" data-pin-nopin="true" src="{{ ((resources.Get $img.local).Resize `250x jpg`).RelPermalink }}">
		{{ end }}
		<div class="s-item-videos">
			{{ if .data.talk_youtube_url }}
				{{ if .data.talk_youtube_preview_image }}
		      	{{$img_talk := index .data.talk_youtube_preview_image 0 }}
		      	<a href="{{ $talk_page.RelPermalink }}" class="video-preview">
		  			<img class="img-schedule" data-pin-nopin="true" src="{{ ((resources.Get $img_talk.local).Resize `250x jpg`).RelPermalink }}">
		  			<i class="fab fa-youtube"></i>
		  		</a>
				{{ end }}
			{{ end }}
			{{ if .data.interview_youtube_url }}
				{{ if .data.interview_youtube_preview_image }}
		      	{{$img_interview := index .data.interview_youtube_preview_image 0 }}
		      	<a href="{{ $talk_page.RelPermalink }}" class="video-preview">
		  			<img class="img-schedule" data-pin-nopin="true" src="{{ ((resources.Get $img_interview.local).Resize `250x jpg`).RelPermalink }}">
		  			<i class="fab fa-youtube"></i>
		  		</a>
		  		{{ end }}
			{{ end }}
		</div><!-- /.s-item-videos -->
		<div class="s-item-description clearfix">
			{{ .data.description | markdownify }}
		</div><!-- /.s-item-description -->
		<div class="s-item-bottom-new">
				{{ if gt (len $tags) 0 }}
				<div class="s-item-tags">
					{{ range $tags }}
					{{ .custom_html | safeHTML }}
					{{ end }}
				</div>
				{{ end }}

				{{ if eq .data.talk_relative_time "finished" }}
					{{ if or .data.slides_link .data.slides }}
					<div class="s-item-slides">
						<a href="{{ $talk_page.RelPermalink }}" class="btn btn-slides"><i class="far fa-presentation"></i>Slides</a>
					</div><!-- /.s-item-slides -->
					{{ end }}
				{{ end }}
			</div><!-- /.s-item-bottom-new -->
		</div><!-- /.s-item-bottom -->
	</div><!-- /.s-item-collapse -->
	<span class="tag tag-{{ $kind.name }}"><i class="far {{ .data.k_icon }}"></i>{{ .data.k_label }}</span>
</div><!-- /.s-item -->
