{{ $at := index .ctx.Site.Data.gen (print "airtable_" .ctx.Lang) }}
{{ $kind := "" }}

{{ if .data.kind }}
	{{ $kind = index $at (index .data.kind 0) }}
{{ end }}

<div class="block s-item {{ $kind.name }}">
	<div class="s-item-top">
		<div class="s-item-line-top">
			<div class="s-item-line s-time mr">
				<i class="far fa-clock"></i>
				<span>
					{{ if or (eq .data.start_date "TBA") (eq .data.start_date nil) }}
					TBA
					{{ else }}
					{{ dateFormat (cond (eq .ctx.Lang "en") "3:04PM" "15h04") .data.start_date }}
					{{ end }}
					-
					{{ if or (eq .data.end_date "TBA") (eq .data.end_date nil) }}
					TBA
					{{ else }}
					{{ dateFormat (cond (eq .ctx.Lang "en") "3:04PM" "15h04") .data.end_date }}
					{{ end }}
				</span>
			</div>
			{{if .data.language}}
			<div class="s-item-line s-lang mr">
				<i class="far fa-globe"></i>
				<span>{{ delimit .data.language "/" }}</span>
			</div>
			{{end}}
		</div>
		<div class="s-item-line s-loc mr">
			<i class="far fa-map-marker"></i>
			<span>{{ .data.location }}</span>
		</div>
		<div class="s-item-line s-orga">
			<i class="far fa-user"></i>
			<span>{{ .data.redacted_speakers }}</span>
		</div>
	</div><!-- /.s-item-top -->
	<div class="s-item-bottom">
		<span class="s-item-title">
			{{ .data.title }}
		</span>
		{{ if .data.image }}
		<img class="img-schedule" src="/img/festival/{{.data.image}}">
		{{ end }}
		<div class="s-item-description">
			{{ .data.description | markdownify }}
		</div>
		{{ if .data.tags }}
		<div class="s-item-tags">
			{{ .data.tags_html | markdownify }}
		</div>
		{{ end }}
	</div><!-- /.s-item-bottom -->
	<span class="tag tag-{{ $kind.name }}"><i class="far {{ .data.k_icon }}"></i>{{ .data.k_label }}</span>
</div><!-- /.s-item -->
