<section class="page-section bg-people section-info" id="info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-info-circle fa-5x mb-4 text-white"></i>
                <h2 class="mt-0 text-white">{{ .Params.content.info_title }}</h2>
                <hr class="divider light my-4">
                <br />
            </div><!-- /.col-->
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 text-center">
                <div class="block block-link a b" href="">
                    <i class="fal fa-building fa-5x c-gradient mb-4"></i>
                    <h3 class="h4 mb-2">Ground Control</h3>
                    <p class="text-muted mb-3">{{ .Params.content.address | markdownify }}</p>
                    <a class="btn btn-purple btn-m" href="https://www.groundcontrolparis.com/" target="_blank" rel="noopener">{{ .Params.content.learn_more }}</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 text-center">
                <div class="block block-link a">
                    <i class="fal fa-heart fa-5x c-gradient mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.donate_title | markdownify }}</h3>
                    <p class="text-muted mb-3">{{ .Params.content.donate_text | markdownify }}</p>
                    <a class="btn btn-purple btn-m" href="https://www.helloasso.com/associations/osmose-collective/collectes/paris-p2p-festival-0-bootstrap" target="_blank" rel="noopener">{{ .Params.content.donate_btn }}</a>
                </div>
            </div><!-- /.col -->
            <div class="col-xl-3 col-lg-6 text-center">
                <div class="block block-link b">
                    <i class="fal fa-envelope-open-text fa-5x c-gradient mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.news_title | markdownify }}</h3>
                    <p class="text-muted mb-3">{{ .Params.content.news_text | markdownify }}</p>
                    <form class="form-newsletter" action="https://formspree.io/xzbzlaqb" method="POST">
                        <input class="forn-control" type="text" name="_replyto" placeholder="{{ .Params.content.newsletter_input | markdownify }}">
                        <button class="btn btn-purple btn-m" type="submit"><i class="far fa-arrow-right"></i></button>
                    </form>
                </div>
            </div><!-- /.col -->
             <div class="col-xl-3 col-lg-6 text-center">
                <div class="block block-link">
                    <i class="fal fa-bed fa-5x c-gradient mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.hotel_title | markdownify }}</h3>
                    <p class="text-muted mb-3">{{ .Params.content.hotel_text | markdownify }}</p>
                    <a class="btn btn-purple btn-m" href="https://www.zaziehotel.paris/" target="_blank" rel="noopener">{{ .Params.content.learn_more }}</a>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>