<section class="page-section bg-light section-plan" id="plan">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-map fa-5x mb-4"></i>
                <h2 class="mt-0">{{ .Params.nav.plan }}</h2>
            </div><!-- /.col-->
            <div class="col-12">
                <img class="img-plan" nopin="nopin" src="/img/ground_control_floor_plan.svg">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>