<section class="section-testimonial bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                    <div class="block block-testimonial block-top">
                        <p>{{ .Params.content.testimonial | markdownify }}</p>
                    </div><!-- /.block-number -->
            </div><!-- /.col -->
            <div class="col-lg-4">
                <div class="block block-donate-small text-center block-top">
                    <i class="fas fa-3x fa-euro-sign c-gradient"></i>
                    <h4 class="mb-4">{{ .Params.content.d_euro_title }}</h4>
                    <a href="https://www.helloasso.com/associations/osmose-collective/collectes/paris-p2p-festival-0-bootstrap" class="btn btn-purple btn-m" target="_blank" rel="noopener">{{ .Params.content.d_euro_link }}</a>
                </div>
                <div class="block block-donate-small text-center">
                    <i class="fab fa-3x fa-bitcoin c-gradient"></i>
                    <h4 class="mb-4">{{ .Params.content.d_bitcoin_title }}</h4>
                    <tag class="p">bc1qgq0e0tpjpmlpqmsexx0k5awst3d2rjdhs36y0q</tag>
                </div>
                <div class="block block-donate-small text-center">
                    <i class="fab fa-3x fa-ethereum c-gradient"></i>
                    <h4 class="mb-4">{{ .Params.content.d_ether_title }}</h4>
                    <tag class="p">0xf48703A72cD1684C9295c8b8Ac83a13d4c4Aeac1</tag>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>