<section class="bg-pink section-schedule" id="schedule">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <i class="fal fa-calendar-alt fa-5x mb-4 text-white"></i>
        <h2 class="mt-0 text-white">Pogramme</h2>
        <hr class="divider light my-4">
      </div><!-- /.col-->
    </div><!-- /.row -->

    <ul class="nav nav-pills nav-fill s-nav bg-pink" id="nav-schedule">
      <li class="nav-item mr">
        <a class="nav-link" href="#c-day-1">
          <span class="title">Jour 1</span>
          <span class="subtitle">Mercredi 8 jan</span>
        </a>
      </li>
      <li class="nav-item mr">
        <a class="nav-link" href="#c-day-2">
          <span class="title">Jour 2</span>
          <span class="subtitle">Jeudi 9 jan</span>
        </a>
      </li>
      <li class="nav-item mr">
        <a class="nav-link" href="#c-day-3">
          <span class="title">Jour 3</span>
          <span class="subtitle">Vendredi 10 jan</span>
        </a>
      </li>
      <li class="nav-item mr">
        <a class="nav-link" href="#c-day-4">
          <span class="title">Jour 4</span>
          <span class="subtitle">Samedi 11 jan</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#c-day-5">
          <span class="title">Jour 5</span>
          <span class="subtitle">Dimanche 12 jan</span>
        </a>
      </li>
    </ul><!-- /.s-nav -->

    <div class="s-content block" data-spy="scroll" data-target="#nav-schedule" data-offset="0">
      <div class="s-day" id="c-day-1">

        <div class="s-item stand">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h-22h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>P2P Art Zone</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Fasto</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              P2P Painting
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-stand">Stand</span>
        </div><!-- /.s-item -->

        <div class="s-item meetup">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>P2P Meetup Zone</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@zôÖma @moul </span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Talks + FFA
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-meetup">Meet-up</span>
        </div><!-- /.s-item -->

        <div class="s-item stand">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>20h-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Fasto</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Atelier d'initiation aux cryptomonnaies 
            </span>
            <span class="s-item-description">
              Réservé aux femmes
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-stand">Stand</span>
        </div><!-- /.s-item -->


        <div class="s-item talk">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>20h-21h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Présentation du Berty Protocol 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-talk">Talk</span>
        </div><!-- /.s-item -->


        <div class="s-item meetup">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Lorem ipsum dolor sit amet 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-meetup">Meet-up</span>
        </div><!-- /.s-item -->

        <div class="s-item projection">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Lorem ipsum dolor sit amet 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-projection">Projection</span>
        </div><!-- /.s-item -->

        <div class="s-item party">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              DJ Set Hiphop/Soul/Funk
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-party">DJ-Set</span>
        </div><!-- /.s-item -->

        <div class="s-item hackaton">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Le décanteur</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Hackaton
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-hackaton">Hackaton</span>
        </div><!-- /.s-item -->

        <div class="s-item workshop">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Hackzone Workshop</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>Alice & Marguerite</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Atelier prospective sur les spécifications SOLID
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-workshop">Workshop</span>
        </div><!-- /.s-item -->


      </div><!-- /.s-day -->
      <div class="s-day" id="c-day-2">

        <div class="s-item stand">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h-22h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>P2P Art Zone</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Fasto</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              P2P Painting
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-stand">Stand</span>
        </div><!-- /.s-item -->

        <div class="s-item meetup">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>P2P Meetup Zone</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@zôÖma @moul </span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Talks + FFA
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-meetup">Meet-up</span>
        </div><!-- /.s-item -->

        <div class="s-item stand">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>20h-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Fasto</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Atelier d'initiation aux cryptomonnaies 
            </span>
            <span class="s-item-description">
              Réservé aux femmes
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-stand">Stand</span>
        </div><!-- /.s-item -->


        <div class="s-item talk">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>20h-21h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Présentation du Berty Protocol 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-talk">Talk</span>
        </div><!-- /.s-item -->


        <div class="s-item meetup">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Lorem ipsum dolor sit amet 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-meetup">Meet-up</span>
        </div><!-- /.s-item -->

        <div class="s-item projection">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Lorem ipsum dolor sit amet 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-projection">Projection</span>
        </div><!-- /.s-item -->

        <div class="s-item party">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              DJ Set Hiphop/Soul/Funk
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-party">DJ-Set</span>
        </div><!-- /.s-item -->

        <div class="s-item hackaton">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Le décanteur</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Hackaton
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-hackaton">Hackaton</span>
        </div><!-- /.s-item -->

        <div class="s-item workshop">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Hackzone Workshop</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>Alice & Marguerite</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Atelier prospective sur les spécifications SOLID
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-workshop">Workshop</span>
        </div><!-- /.s-item -->


      </div><!-- /.s-day -->

      <div class="s-day" id="c-day-3">

        <div class="s-item stand">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h-22h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>P2P Art Zone</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Fasto</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              P2P Painting
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-stand">Stand</span>
        </div><!-- /.s-item -->

        <div class="s-item meetup">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>P2P Meetup Zone</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@zôÖma @moul </span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Talks + FFA
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-meetup">Meet-up</span>
        </div><!-- /.s-item -->

        <div class="s-item stand">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>20h-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Fasto</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Atelier d'initiation aux cryptomonnaies 
            </span>
            <span class="s-item-description">
              Réservé aux femmes
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-stand">Stand</span>
        </div><!-- /.s-item -->


        <div class="s-item talk">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>20h-21h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Présentation du Berty Protocol 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-talk">Talk</span>
        </div><!-- /.s-item -->


        <div class="s-item meetup">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Lorem ipsum dolor sit amet 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-meetup">Meet-up</span>
        </div><!-- /.s-item -->

        <div class="s-item projection">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Lorem ipsum dolor sit amet 
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-projection">Projection</span>
        </div><!-- /.s-item -->

        <div class="s-item party">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Lorem ipsum</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              DJ Set Hiphop/Soul/Funk
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-party">DJ-Set</span>
        </div><!-- /.s-item -->

        <div class="s-item hackaton">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Le décanteur</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>@Unknown</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Hackaton
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-hackaton">Hackaton</span>
        </div><!-- /.s-item -->

        <div class="s-item workshop">
          <div class="s-item-left">
            <div class="s-item-line">
              <i class="far fa-clock"></i>
              <span>18h30-23h</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-map-marker"></i>
              <span>Hackzone Workshop</span>
            </div>
            <div class="s-item-line">
              <i class="far fa-microphone-alt"></i>
              <span>Alice & Marguerite</span>
            </div>
          </div><!-- /.s-item-left -->
          <div class="s-item-right">
            <span class="s-item-title">
              Atelier prospective sur les spécifications SOLID
            </span>
            <span class="s-item-description">
              Lorem ipsum dolor sit amet
            </span>
          </div><!-- /.s-item-right -->
          <span class="tag tag-workshop">Workshop</span>
        </div><!-- /.s-item -->


      </div><!-- /.s-day -->

    </div><!-- /.s-content -->

  </div><!-- /.container -->
</section>