{{ $airtable := index .Site.Data.gen (print "airtable_" .Lang) }}

<section class="section-donators bg-light" id="donators">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-heart fa-5x mb-4"></i>
                <h2 class="mt-0">{{ i18n "festival_content_donators" }}</h2>
                <hr class="divider my-4">
                <br/>
            </div><!-- /.col-->
        </div><!-- /.row -->
        <div class="row">
            {{ range $airtable }}
                {{ if eq .from_table "donation" }}
                    {{ if .title }}
                    <div class="col-lg-3 col-md-4 col-6">
                        {{ partial "block_donator" . }}
                    </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
