{{ $festival_events := index .Site.Data.gen.festival (print "events_" .Lang) }}

<section class="page-section bg-light section-schedule" >
  <div class="container" id="schedule">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <i class="fal fa-calendar-alt fa-5x mb-4"></i>
        <h2 class="mt-0">{{ .Params.nav.schedule }}</h2>
        <hr class="divider my-4">
      </div><!-- /.col-->
    </div><!-- /.row -->

    <ul class="nav nav-pills nav-fill s-nav" id="nav-schedule">

        {{ range $festival_events }}

        {{- $date := time .date -}}
        {{- $month_num := printf "%d" $date.Month -}}
        {{- $day_num := printf "%d" $date.Weekday -}}

        <!-- Date Long -->
        {{- $date_long := $date -}}
        {{- $month := $date.Month | title -}}
        {{- $day := $date.Weekday | title -}}
        {{- if isset $.Site.Params "months" -}}
        {{- $month = index $.Site.Params.months $month_num | title -}}
        {{- end -}}
        {{- if isset $.Site.Params "days" -}}
        {{- $day = index $.Site.Params.days $day_num | title -}}
        {{- end -}}
        {{- $date_long = print $day " " (dateFormat "2" .date) " " $month -}}
        
        <!-- Date Short -->
        {{- $date_short := $date -}}
        {{- $month := dateFormat "Jan" .date | title -}}
        {{- $day := dateFormat "Mon" .date | title -}}
        {{- if isset $.Site.Params "months_short" -}}
        {{- $month = index $.Site.Params.months_short $month_num | title -}}
        {{- end -}}
        {{- if isset $.Site.Params "days_short" -}}
        {{- $day = index $.Site.Params.days_short $day_num | title -}}
        {{- end -}}
        {{- $date_short = print $day "<br> " (dateFormat "2" .date) " " $month -}}

        <li class="nav-item">
          <a class="nav-link {{ if eq .id 1}}active{{end}} js-scroll-trigger" href="#c-day-{{.id}}">
            <span class="title long">{{ i18n "day_long" . }}  {{ .id }}</span>
            <span class="subtitle long">{{ $date_long }}</span>
            <span class="title short">{{ i18n "day_short" . }}{{ .id }}</span>
            <span class="subtitle short">{{ $date_short | safeHTML }}</span>
          </a>
        </li>
        {{ end }}

    </ul><!-- /.s-nav -->

    <div class="s-filters">
        <span class="tag tag-hackathon"><input type="checkbox"><i class="far fa-robot"></i>hackathon<notif>1</notif></span>
        <span class="tag tag-meet-up"><input type="checkbox"><i class="far fa-glass-cheers"></i>meet-ups<notif>2</notif></span>
        <span class="tag tag-projection"><input type="checkbox"><i class="far fa-camera-movie"></i>projections<notif>3</notif></span>
        <span class="tag tag-stand"><input type="checkbox"><i class="far fa-flag"></i>stands<notif>4</notif></span>
        <span class="tag tag-talk"><input type="checkbox"><i class="far fa-presentation"></i>talks<notif>5</notif></span>
        <span class="tag tag-workshop"><input type="checkbox"><i class="far fa-laptop-code"></i>workshops<notif>6</notif></span>
        <span class="tag tag-party"><input type="checkbox"><i class="far fa-music"></i>DJ sets<notif>10</notif></span>
    </div><!-- /.s-filters -->

    <div class="s-content">

      {{ range $festival_events }}
      <div class="s-day" id="c-day-{{ .id }}">
        <div class="s-day-title text-center">
            <div class="pill">{{ i18n "day_long" . }}  {{ .id }}</div>
        </div>
        {{ range .events }}
          {{ partial "s_item" (dict "ctx" $ "data" .) }}
        {{ end }}
      </div><!-- /.s-day -->
      {{ end }}

    </div><!-- /.s-content -->

  </div><!-- /.container -->
</section>