<section class="bg-light section-cfp" id="cfp">
    <div class="container">
      <div class="row">
          <div class="col-12">
            <br />
            <br />  
            <h2>{{ .Params.hackathon_info_title_1 | markdownify }}</h2> 
            <br />
            <p>{{ .Params.hackathon_info_description_1 | markdownify }}</p>   
            <br />
            <br />  
            <h2>{{ .Params.hackathon_info_title_2 | markdownify }}</h2> 
            <br />
            <p>{{ .Params.hackathon_info_description_2 | markdownify }}</p>
            <br />
            <br />  
            <h2>{{ .Params.hackathon_info_title_3 | markdownify }}</h2> 
            <br />
            <p>{{ .Params.hackathon_info_description_3 | markdownify }}</p>
            <br />
            <br />  
            <h2>{{ .Params.hackathon_info_title_4 | markdownify }}</h2> 
            <br />
            <p>{{ .Params.hackathon_info_description_4 | markdownify }}</p>
            <br />
            <br />  
            <h2>{{ .Params.hackathon_info_title_5 | markdownify }}</h2> 
            <br />
            <p>{{ .Params.hackathon_info_description_5 | markdownify }}</p>
            <div class="text-center">
                <br />
                <br />
                <a class="btn btn-purple btn-m" href="https://airtable.com/shrax6nA5OHpVGu2f">{{ .Params.hackathon_register_button | markdownify }}</a>
                <br />
                <br />
            </div>
          </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>
  