<!-- Links Section -->
<section class="page-section" id="links">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-link fa-5x text-white mb-4"></i>
                <h2 class="text-white mt-0">{{ i18n "links_title" . | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
                <br />
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center" id="meetup">
                <a class="block block-link" href="https://www.meetup.com/France-P2P/">
                    <i class="fab fa-meetup fa-5x c-meetup mb-4"></i>
                    <h3 class="h4 mb-2">Meetup</h3>
                    <p class="text-muted mb-0">{{ i18n "links_meetup" . | markdownify }}</p>
                </a>
            </div><!-- /.col -->
            <div class="col-lg-3 col-md-6 text-center" id="discord">
                <a class="block block-link" href="https://crpt.fyi/parisp2p-discord">
                    <i class="fab fa-discord fa-5x c-discord mb-4"></i>
                    <h3 class="h4 mb-2">Discord</h3>
                    <p class="text-muted mb-0">{{ i18n "links_discord" . | markdownify }}</p>
                </a>
            </div><!-- /.col -->
            <div class="col-lg-3 col-md-6 text-center" id="github">
                <a class="block block-link" href="https://github.com/francep2p">
                    <i class="fab fa-github fa-5x c-github mb-4"></i>
                    <h3 class="h4 mb-2">Github</h3>
                    <p class="text-muted mb-0">{{ i18n "links_github" . | markdownify }}</p>
                </a>
            </div><!-- /.col -->
            <div class="col-lg-3 col-md-6 text-center" id="contact">
                <a class="block block-link" href="mailto:bootstrap@p2p.paris">
                    <i class="fal fa-5x fa-envelope text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Contact</h3>
                    <p class="text-muted mb-0">{{ i18n "links_contact" . | markdownify }}</p>
                </a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>



