<section class="section-testimonial bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="block block-testimonial block-top">
                    {{ .Params.content.testimonial | markdownify }}
                </div><!-- /.block-number -->
            </div><!-- /.col -->
            <div class="col-lg-4">
                <div class="block block-donate-small block-top">
                    <i class="fas fa-3x fa-euro-sign c-gradient"></i>
                    <h4>{{ .Params.content.d_euro_title }}</h4>
                        <a href="https://www.helloasso.com/associations/osmose-collective/collectes/paris-p2p-festival-0-bootstrap" class="btn btn-purple btn-m" target="_blank" rel="noopener">{{ .Params.content.d_euro_link }}</a>
                </div>
                <div class="block block-donate-small">
                    <i class="fab fa-3x fa-bitcoin c-gradient"></i>
                    <h4>{{ .Params.content.d_bitcoin_title }}</h4>
                    <tag class="p">bc1qmmsguykx3vdawvenct5g4a34ldupspwd0yjznv</tag>
                </div>
                <div class="block block-donate-small">
                    <i class="fab fa-3x fa-ethereum c-gradient"></i>
                    <h4>{{ .Params.content.d_ether_title }}</h4>
                    <tag class="p">0xf48703A72cD1684C9295c8b8Ac83a13d4c4Aeac1</tag>
                </div>
                <div class="block block-donate-small">
                    <img class="" nopin="nopin" src="/img/ark.svg">
                    <h4>{{ .Params.content.d_ark_title }}</h4>
                    <tag class="p">AWwKU4NmKaZC8uUbceQg88qDARMvqcUnni</tag>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>