<section class="page-section bg-light section-schedule" >
  <div class="container" id="schedule">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <i class="fal fa-calendar-alt fa-5x mb-4"></i>
        <h2 class="mt-0">{{ .Params.nav.schedule }}</h2>
        <hr class="divider my-4">
      </div><!-- /.col-->
    </div><!-- /.row -->

    <ul class="nav nav-pills nav-fill s-nav" id="nav-schedule">

        {{ range where .Pages "Section" "fest" }}
        <li class="nav-item">
          <a class="nav-link {{ if eq .Params.Id 1}}active{{end}}" href="#c-day-{{.Params.Id}}">
            <span class="title long">{{ i18n "day_long" . }} {{ .Params.Day_long }} {{ .Params.Id }}</span>
            <span class="subtitle long">{{ .Params.Date_long }}</span>
            <span class="title short">{{ i18n "day_short" . }}{{ .Params.Day_short }}{{ .Params.Id }}</span>
            <span class="subtitle short">{{.Params.Date_short | markdownify }}</span>
          </a>
        </li>
        {{ end }}

    </ul><!-- /.s-nav -->

    <div class="s-content">

      {{ range where .Pages "Section" "fest" }}
      <div class="s-day" id="c-day{{ .Params.Id }}">
        {{ range .Params.events }}
          {{ partial "s_item" . }}
        {{ end }}
      </div><!-- /.s-day -->
      {{ end }}

    </div><!-- /.s-content -->

  </div><!-- /.container -->
</section>