<!-- Values Section -->
<div class="container">
	<div class="row">
		  <div class="col-12 text-center">
                <div class="block-secondary" href="">
                    <i class="fal fa-hand-peace fa-4x mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.value_1| markdownify }}</h3>
                </div><!-- /.block-secondary -->
            </div><!-- /.col -->
            <div class="col-lg-4 col-md-12 text-center">
                <div class="block-secondary" href="">
                    <i class="fal fa-chart-network fa-4x mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.value_2 | markdownify }}</h3>
                </div><!-- /.block-secondary -->
            </div><!-- /.col -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="block-secondary" href="">
                    <i class="fal fa-smile fa-4x mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.value_3 | markdownify }}</h3>
                </div><!-- /.block-secondary -->
            </div><!-- /.col -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="block-secondary" href="">
                    <i class="fal fa-monkey fa-4x mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.value_4 | markdownify }}</h3>
                </div><!-- /.block-secondary -->
            </div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.container -->