<section class="page-section bg-purple" id="info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-map-pin fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.nav.info }}</h2>
                <hr class="divider light my-4">
                <br />
                <h5 class="text-white">[[ Addresse exacte, transports, horaires d'ouvertures, inscription etc ]]</h5>
                <h5 class="text-white">[[ INSERT MAPS HERE ]]</h5>
            </div><!-- /.col-->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>