<section class="section-numbers" id="numbers">
    <div class="container">
    	<div class="row">
    		  <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2 c-gradient">5</h2>
                        <h3 class="mb-4">{{ .Params.numbers.b1_title }}</h3>
                        <p>{{ .Params.numbers.b1_text | markdownify }}</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2 c-gradient">64</h2>
                        <h3 class="mb-4">{{ .Params.numbers.b2_title }}</h3>
                        <p>{{ .Params.numbers.b2_text | markdownify }}</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2 c-gradient">40</h2>
                        <h3 class="mb-4">{{ .Params.numbers.b3_title }}</h3>
                        <p>{{ .Params.numbers.b3_text | markdownify }}</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2 c-gradient">1</h2>
                        <h3 class="mb-4">{{ .Params.numbers.b4_title }}</h3>
                        <p>{{ .Params.numbers.b4_text | markdownify }}</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
    	</div><!-- /.row -->
    </div><!-- /.container -->
</section>