<section class="bg-light section-cfp" id="cfp">
  <div class="container">
    <div class="row">
        <div class="col-12">
                  <div class="block block-cfp">
                      <div class="row">
                          <div class="col-lg-2 text-center">
                              <i class="fal fa-heart fa-5x c-gradient mb-2"></i>
                          </div>
                          <div class="col-lg-8">
                              <h3>{{ i18n "call_for_papers" }}</h3>
                          </div>
                          <div class="col-lg-2 text-center col-btn">
                              <a class="btn btn-purple btn-m mt-2" href="{{ 'https://crpt.fyi/join-paris-p2p-festival-form' }}" >{{ i18n "call_for_papers_button" }}</a>
                          </div>
                      </div>
                  </div><!-- /.block-number -->
              </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>