<!-- Links Section -->
<section class="page-section" id="links">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-link fa-5x text-white mb-4"></i>
                <h2 class="text-white mt-0">{{ i18n "links_title" . | markdownify }}</h2>
                <hr class="divider light my-4">
                <br />
                <br />
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-20 text-center" id="meetup">
                <a class="block block-link" href="https://www.meetup.com/France-P2P/" target="_blank" rel="noopener">
                    <i class="fab fa-meetup fa-4x c-meetup mb-4"></i>
                    <h3 class="h4 mb-2">Meetup</h3>
                </a>
            </div><!-- /.col -->
            <div class="col-20 text-center" id="discord">
                <a class="block block-link" href="https://crpt.fyi/parisp2p-discord" target="_blank" rel="noopener">
                    <i class="fab fa-discord fa-4x c-discord mb-4"></i>
                    <h3 class="h4 mb-2">Discord</h3>
                </a>
            </div><!-- /.col -->
            <div class="col-20 text-center" id="twitter">
                <a class="block block-link" href="https://twitter.com/ParisP2P" target="_blank" rel="noopener">
                    <i class="fab fa-twitter fa-4x text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Twitter</h3>
                </a>
            </div><!-- /.col -->
            <div class="col-20 text-center" id="github">
                <a class="block block-link" href="https://github.com/francep2p" target="_blank" rel="noopener">
                    <i class="fab fa-github fa-4x c-github mb-4"></i>
                    <h3 class="h4 mb-2">Github</h3>
                </a>
            </div><!-- /.col -->
            <div class="col-20 text-center" id="contact">
                <a class="block block-link" href="mailto:bootstrap@p2p.paris">
                    <i class="fal fa-4x fa-envelope c-gradient mb-4"></i>
                    <h3 class="h4 mb-2">Email</h3>
                </a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>



