
    <div class="container section-goals">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <i class="fal fa-flag fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.nav.goals }}</h2>
                <hr class="divider light my-4">
                <br/>
            </div><!-- /.col-->
        </div><!-- /.row -->
    	<div class="row">
    		  <div class="col-lg-4 col-md-6">
                    <div class="block block-goal large" href="">
                        <i class="fal fa-users c-gradient"></i>
                        <p>{{ .Params.goals.b1 | markdownify }}</p>
                    </div><!-- /.block-goal -->
                </div><!-- /.col -->
                <div class="col-lg-4 col-md-6">
                    <div class="block block-goal large" href="">
                        <i class="fal fa-lock-alt c-gradient"></i>
                        <p>{{ .Params.goals.b2 | markdownify }}</p>
                    </div><!-- /.block-goal -->
                </div><!-- /.col -->
                <div class="col-lg-4 col-md-6">
                    <div class="block block-goal large" href="">
                        <i class="fal fa-handshake-alt c-gradient"></i>
                        <p>{{ .Params.goals.b3 | markdownify }}</p>
                    </div><!-- /.block-goal -->
                </div><!-- /.col -->
                <div class="col-lg-4 col-md-6">
                    <div class="block block-goal" href="">
                        <i class="fal fa-heart c-gradient"></i>
                        <p>{{ .Params.goals.b4| markdownify }}</p>
                    </div><!-- /.block-goal -->
                </div><!-- /.col -->
                <div class="col-lg-4 col-md-6">
                    <div class="block block-goal" href="">
                        <i class="fal fa-stars c-gradient"></i>
                        <p>{{ .Params.goals.b5 | markdownify }}</p>
                    </div><!-- /.block-goal -->
                </div><!-- /.col -->
                <div class="col-lg-4 col-md-6">
                    <div class="block block-goal" href="">
                        <i class="fal fa-glass-cheers c-gradient"></i>
                        <p>{{ .Params.goals.b6 | markdownify }}</p>
                    </div><!-- /.block-goal -->
                </div><!-- /.col -->
    	</div><!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <br />
                    <br />
                    <a class="btn btn-purple btn-xl" href="https://crpt.fyi/join-paris-p2p-festival-form">{{ .Params.content.participate }}</a>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
