<section class="page-section bg-purple" id="info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <i class="fal fa-map-pin fa-5x text-white mb-4"></i>
                <h2 class="mt-0 text-white">{{ .Params.nav.info }}</h2>
                <hr class="divider light my-4">
                <br />
            </div><!-- /.col-->
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <a class="block block-link" href="https://www.groundcontrolparis.com/">
                    <i class="far fa-building fa-5x c-gradient mb-4"></i>
                    <h3 class="h4 mb-2">Ground Control</h3>
                    <p class="text-muted mb-0">{{ .Params.content.address | markdownify }}</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a class="block block-link" href="https://www.helloasso.com/associations/osmose%20collective/collectes/paris-p2p-festival-0-bootstrap/widget-bouton">
                    <i class="far fa-heart fa-5x c-gradient mb-4"></i>
                    <h3 class="h4 mb-2">{{ .Params.content.donate_title | markdownify }}</h3>
                    <p class="text-muted mb-0">{{ .Params.content.donate_text | markdownify }}</p>
                </a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>