{{ $settings := index .Site.Data.gen (print "settings_" .Lang) }}

<section class="section-numbers" id="numbers">
    <div class="container">
    	<div class="row">
    		  <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2 c-gradient">5</h2>
                        <h3 class="mb-4">{{ i18n "festival_numbers_b1_title" }}</h3>
                        <p>{{ i18n "festival_numbers_b1_text" (dict "ctx" . "start_date" (time .Params.start_date) "end_date" (time .Params.end_date)) | markdownify }}</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2 c-gradient">{{ $settings.parisp2p_festival_events.json }}</h2>
                        <h3 class="mb-4">{{ i18n "festival_numbers_b2_title" }}</h3>
                        <p>{{ i18n "festival_numbers_b2_text" | markdownify }}</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2 c-gradient">{{ $settings.parisp2p_festival_speakers.json }}</h2>
                        <h3 class="mb-4">{{ i18n "festival_numbers_b3_title" }}</h3>
                        <p>{{ i18n "festival_numbers_b3_text" | markdownify }}</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2 c-gradient">1</h2>
                        <h3 class="mb-4">{{ i18n "festival_numbers_b4_title" }}</h3>
                        <p>{{ i18n "festival_numbers_b4_text" | markdownify }}</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
    	</div><!-- /.row -->
    </div><!-- /.container -->
</section>