<section class="section-numbers" id="numbers">
    <div class="container">
    	<div class="row">
    		  <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2">5</h2>
                        <h3 class="mb-4">Jours</h3>
                        <p>Du <strong>8</strong> au <strong>12</strong> janvier 2020</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2">34</h2>
                        <h3 class="mb-4">Evénements</h3>
                        <p>Meetups, conférences, projections, hackaton...</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2">26</h2>
                        <h3 class="mb-4">Intervenants</h3>
                        <p>Venus du monde entier pour parler de l'internet de demain</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="block block-number" href="">
                        <h2 class="mb-2">1</h2>
                        <h3 class="mb-4">Lieu</h3>
                        <p><strong>Ground Control</strong>, au coeur de Paris (gare de Lyon)</p>
                    </div><!-- /.block-number -->
                </div><!-- /.col -->
    	</div><!-- /.row -->
    </div><!-- /.container -->
</section>